# =====================
# Secrets / Env files
# =====================
.env
**/.env
sadaqa_mobile_backend/config/.env

# =====================
# Python
# =====================
**/venv/
**/.venv/
**/__pycache__/
**/*.pyc

# =====================
# Flutter / Dart
# =====================
**/.dart_tool/
**/build/

# =====================
# IDE
# =====================
**/.idea/
**/.vscode/
